<div class="m-auto w-[70%] h-full flex-col mt-5 flex items-start">
    <span class="text-3xl font-bold">Transforme Conhecimento em Oportunidade para Todos</span>


    <div class="grid grid-cols-2 gap-5 mt-[3%]">
        <app-card class="m-left-card-main col-span-1" backgroundColor="primary-500" color="surface-800">
            <p class="text-xl font-bold">Para educadores e criadores é so se cadastrar e começar a criar seus cursos
                gratuitamente
                em minutos.</p>
        </app-card>
    </div>
    <div class="grid grid-cols-2 gap-5">
        <app-card class="m-right-card-main mt-5 col-span-1 col-start-2" backgroundColor="cyan-950" color="surface-0">
            <p class="text-xl font-bold">E os estudantes podem aprender no seu tempo, sem pagar nada e sem compromisso.
            </p>
        </app-card>
    </div>

    <p-button label="Quero Criar um Curso" size="large" class="mt-5" />

    <hr class="mt-5 mb-5" />
    <div id="about" class="font-semibold text-justify">
        <p>
            Você tem algo a ensinar? Nossa plataforma permite que qualquer pessoa crie e publique cursos online de forma
            simples, rápida e gratuita. Não precisa ser professor — basta querer compartilhar.
            Sem mensalidades, sem inscrições obrigatórias, sem pressão. Aqui, você encontra cursos gratuitos sobre
            diversos
            temas, criados por pessoas reais para pessoas como você.
        </p>
        <br />
        <p>
            O Ensino+ nasceu com um propósito: tornar o aprendizado uma experiência aberta, democrática e inclusiva.
            Porque
            aprender e ensinar deve ser um direito, não um privilégio.
        </p>
    </div>
</div>