@use "tailwindcss";
@import "primeicons/primeicons.css";


* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  height: 100%;
  background-color: var(--color-stone-100);
}


hr{
  border-top: 1px solid var(--e-surface-500);
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--e-surface-400);
  border-radius: 8px !important;
}