<p-card class="w-full">
    <form #form="ngForm" class="flex flex-col gap-2" (ngSubmit)="onSubmit()">

        <div class="flex flex-col gap-2">
            <label for="name">Nome</label>
            <input pInputText id="name" [required]="true" aria-describedby="name-help" [(ngModel)]="dto().name"
                name="name" />
        </div>

        <div class="flex flex-col gap-2">
            <label for="email">Email</label>
            <input pInputText id="email" [required]="true" type="email" aria-describedby="email-help"
                [(ngModel)]="dto().email" name="email" />
        </div>

        <div class="flex flex-col gap-2">
            <label for="password">Senha</label>
            <p-password [(ngModel)]="dto().password" [feedback]="false" [required]="true" minlength="8"
                autocomplete="off" name="password" [toggleMask]="true" />
        </div>

        <p-button styleClass="w-full" label="Cadastrar" type="submit" [disabled]="isLoading()"
            [loading]="isLoading()" />
        <p-button (click)="onBack()" styleClass="w-full" label="Voltar" variant="outlined" [disabled]="isLoading()" />
    </form>
</p-card>
<p-toast key="toastMessage" position="top-center">