<app-main-header />

<div class="bg-white  my-[60px] rounded-sm flex mt-5 flex-col w-[80%] m-auto">
  @if(course().mainPicture){
    <img [src]="course().mainPicture" class="w-full course-image"/>
  }
  <div class="p-10">
    <h1 class="font-semibold text-2xl">{{course().name}}</h1>
    <h3 class="text-2xl">{{course().description}}</h3>
  </div>
  
</div>
<p-accordion [multiple]= "true" class="modules-wrapper rounded-sm flex mt-5 flex-col w-[80%] m-auto drag-column" pDroppable (onDrop) = "drop()">
  @for( module of modules(); track module.uuid){
    <p-accordionTab [selected] = "true" [header]="module.name"  
            pDraggable
            (onDragStart)="dragStart()"
            (onDragEnd)="dragEnd()">
          <p class="m-0 mb-[20px]">
              {{ module.description}}
          </p>
          @if(checkOwner()){
            <div class="pt-[15px] pr-[0px] pb-[5px] pl-[0px]">
              <p-button label="Adicionar atividade ou recurso" icon="pi pi-plus" />
            </div>  
          }
      </p-accordionTab>
  }
</p-accordion>
<p-blockui [autoZIndex]="999999" [blocked]="blockPage()" styleClass="flex items-center justify-center">
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</p-blockui>
<p-toast key="message" position="top-center" />