<div class="flex items-center m-left-side-header">
    <img (click)="onLogoClick()" src="ensinaPlusLogo.svg" width="110px"
        class="mb-1 cursor-pointer m-left-side-header__logo" alt="Logo EnsinaPlus">
</div>

@if(user().role !== RoleEnum.TEACHER){
<input type="text" pInputText class="w-[70%]" placeholder="Buscar cursos" id="inputSearch"
    [(ngModel)]="searchInput" (input)="onInputChange($event)" />
}

<div class="m-left-side-header flex gap-3">
    <p-avatar (click)="op.toggle($event)" [label]="user().name | spliceName" shape="circle" class="cursor-pointer" />
    <p-popover #op>
        <div class="flex user-panel flex-col">
            <div class="user-panel__data gap-3 flex items-center">
                <p-avatar [label]="user().name | spliceName" shape="circle" />
                <div class="flex flex-col">
                    <span class="text-sm text-stone-500">{{ user().name }}</span>
                    <span class="text-sm text-stone-400">{{ user().email }}</span>
                </div>
            </div>
            <p-divider />
            @for (tab of tabs(); track tab.uuid) {
            <p-button [icon]="tab.icon" [label]="tab.label" variant="text" severity="secondary"
                class="w-full user-panel__buttons" (click)="redirectTab(tab.url)" />
            }
            <p-button icon="pi pi-user" label="Minha conta" variant="text" severity="secondary"
                class="w-full user-panel__buttons" (click)="redirectProfile()" />
            <p-button icon="pi pi-sign-out" label="Sair" variant="text" severity="secondary"
                class="w-full user-panel__buttons" (click)="blockedPanel.set(true);authService.logout()" />
        </div>
    </p-popover>
    <p-blockui [autoZIndex]="999999" [blocked]="blockedPanel()" styleClass="flex items-center justify-center">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    </p-blockui>
</div>