@import "primeicons/primeicons.css";

.pi {
  display: inline-block;
  font-family: 'primeicons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pi-"]:before,
[class*=" pi-"]:before {
  font-family: 'primeicons' !important;
}
